<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <style>
    .red{
        color: red;
    }
    .invalid{
        border: 2px solid red;
    }
  </style>
</head>
<body>
    <h2>登録</h2>
  <form th:action="@{/create}" th:object="${chat}" method="post">
    <label>チャット</label>
    <input type="text" th:field="*{name}" th:errorclass="invalid"><br>
    <div class="red" th:errors="*{name}"></div>
    <button>追加</button>
  </form>

  <h2>一覧</h2>
  <table>
    <thead>
        <tr>
            <th>チャット名</th> 
        </tr>
    </thead>
    <tr th:each="chat : ${chats}">
        <td><a th:href="@{/chat/{id}(id=${chat.id})}">[[${chat.name}]]</a></td>
        <td><a th:href="@{/chat/edit/{id}(id=${chat.id})}">編集</a></td>
        <td><a th:href="@{/chat/delete/{id}(id=${chat.id})}">削除</a></td>
    </tr>
  </table>
</body>
</html>